@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.сlickToChangeColor {
  fill: #EA205E;
}

.сlickToChangeTextColor {
  fill: white;
}

.сlickToChangeDefaultColor {
  fill: white;
}

.сlickToChangeButtonColor {
  background-color: #EA205E !important;
  border: #EA205E !important;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search-point {
  display: none;
}

.appear {
  display: block;
}

.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #736E74;
}

text {
  font-size: 12px;
  color: black;
  pointer-events: none;
}

path {
  fill: white;
  stroke: #736E74;
  stroke-width: 1;
}

#text-1-227a, #text-1-left-boxroom, #text-1-right-boxroom, #text-1-1boxroom, #text-1-left-wc, #text-1-left-wc1, #text-1-right-wc, #text-1-right-wc1, #text-1-1wc-man, #text-1-1wc-man1 {
  font-size: 10px;
}

#text-1-book-storage, #text-1-book-storage1, #text-1-book-storage2 {
  font-size: 9px;
}

.button {
  padding: 50px 100px;
  background-color: #736E74;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.search-point {
  background-color: white;
  position: absolute;
  margin-top: 1px;
}

.search-point > li {
  width: 300px;
  padding: 10px 20px;
  border-bottom: 1px solid #736E74;
  cursor: pointer;
}

.search-point > li:hover {
  background-color: silver;
}

mark {
  background-color: orange;
}

.search-point li {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.si-desc {
  font-size: 11px;
  letter-spacing: 0.5px;
}

.building1floor1, .building1floor2, .building1floor3, .building1floor4, .building2floor1, .building2floor2, .building2floor3, .building2floor4, .building2floor5, .building2floor6 {
  margin-top: 100px;
}

#path-1-3-1, #path-1-4-1 {
  fill: grey;
}

.dropdown {
  position: absolute;
  top: 150px;
  left: 20px;
}
.dropdown .buildings, .dropdown .buildings-selected {
  font-size: 18px;
  color: white;
}
.dropdown .buildings li, .dropdown .buildings-selected li {
  cursor: pointer;
}

.сlickToChangeColorDropdown {
  color: #EA205E;
}

.all-desc {
  position: absolute;
  top: 500px;
  left: 20px;
  background-color: white;
  padding: 20px 300px 350px 20px;
}
.all-desc p {
  color: black;
  font-size: 18px;
}