@import "reboot.scss";

//переменные
$custom-grey: #736E74;
$custom-red: #EA205E;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.сlickToChangeColor{fill:$custom-red;}
.сlickToChangeTextColor{fill:white;}
.сlickToChangeDefaultColor{fill:white;}
.сlickToChangeButtonColor {
    background-color: $custom-red !important;
    border: $custom-red !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-point {
    display: none;
}

.appear {
    display: block;
}

.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $custom-grey;
}

text {
    font-size: 12px;
    color: black;
    pointer-events: none;
}

path {
    fill: white;
    stroke: $custom-grey;
    stroke-width: 1;
}

#text-1-227a, #text-1-left-boxroom, #text-1-right-boxroom, #text-1-1boxroom, #text-1-left-wc, #text-1-left-wc1, #text-1-right-wc, #text-1-right-wc1, #text-1-1wc-man, #text-1-1wc-man1 {
    font-size: 10px;
}
#text-1-4-right-wing-1part-2, #text-1-4-right-wing-1part-2-1, #text-1-4-left-wing-2part-2, #text-1-4-left-wing-2part-2-1, #text-1-406a {
    font-size: 10px;
}
#text-1-book-storage, #text-1-book-storage1, #text-1-book-storage2 {
    font-size: 9px;
}

.button {
    padding: 50px 100px;
    background-color: $custom-grey;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-point {
    background-color: white;
    position: absolute;
    margin-top: 1px;
}

.search-point > li {
    width: 300px;
    padding: 10px 20px;
    border-bottom: 1px solid $custom-grey;
    cursor: pointer;
}
.search-point > li:hover {
    background-color: rgb(192, 192, 192);
}

mark {
    background-color: orange;
}

.search-point li {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.si-desc {
    font-size: 11px;
    letter-spacing: 0.5px;
}

// .si-click-style {
//     background-color: rgb(204, 204, 204);
// }

.building1floor1, .building1floor2, .building1floor3, .building1floor4, .building2floor1, .building2floor2, .building2floor3, .building2floor4, .building2floor5, .building2floor6 {
    margin-top: 100px;
}

#path-1-3-1, #path-1-4-1 {
    fill: grey;
}

.dropdown {
    position: absolute;
    top: 150px;
    left: 20px;
    .buildings, .buildings-selected {
        font-size: 18px;
        color: white;
        li {
            cursor: pointer;
        }
    }
}
.сlickToChangeColorDropdown{color:$custom-red;}

.all-desc {
    position: absolute;
    top: 500px;
    left: 20px;
    background-color: white;
    width: 450px;
    height: 350px;
    padding: 20px;
    p {
        color:black;
        font-size: 18px;
    }
}

#desc401, #desc402, #desc403, #desc404, #desc404a, #desc405, #desc406, #desc406a, #desc407, #desc408, #desc409, #desc410, #desc411, #desc411a, #desc412 {
    display: none;
}
#desc414, #desc415, #desc416, #desc417, #desc417a, #desc418, #desc419, #desc451, #desc451a, #desc452, #desc453, #desc453a, #desc454, #desc455, #desc456, #desc457, #desc458 {
    display: none;
}
#desc459, #desc459a, #desc460, #desc460a, #desc461, #desc462, #desc463, #desc464, #desc464a, #desc465, #desc465a, #desc466, #desc467, #desc452а {
    display: none;
}