@import "reboot.scss";

//переменные
$custom-grey: #736E74;
$custom-red: #EA205E;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.сlickToChangeColor{fill:$custom-red;}
.сlickToChangeTextColor{fill:white;}
.сlickToChangeDefaultColor{fill:white;}
.сlickToChangeButtonColor {
    background-color: $custom-red !important;
    border: $custom-red !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.search-point {
    display: none;
}

.appear {
    display: block;
}

.hide {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $custom-grey;
}

text {
    font-size: 12px;
    color: black;
    pointer-events: none;
}

path {
    fill: white;
    stroke: $custom-grey;
    stroke-width: 1;
}

#text-1-227a, #text-1-left-boxroom {
    font-size: 10px;
}

.button {
    padding: 50px 100px;
    background-color: $custom-grey;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.search-point {
    background-color: white;
    position: absolute;
    margin-top: 1px;
}

.search-point > li {
    width: 300px;
    padding: 10px 20px;
    border-bottom: 1px solid $custom-grey;
}

mark {
    background-color: orange;
}

.search-point li {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.si-desc {
    font-size: 11px;
    letter-spacing: 0.5px;
}

.si-click-style {
    background-color: rgb(204, 204, 204);
}